.CardWrapper {
    width: 90%;
    margin: 5%;
    margin-top: 0.2rem !important;
    margin-bottom: 0.2rem !important;
    border-radius: 0.5rem !important;
    border-color: rgba(68, 94, 72, 0.34) !important;
    border-width: 0.2rem !important;
    background-color: rgba(255, 255, 255, 0.813)!important;
}

.CardName {
    text-decoration: none !important;
    color: black;
}

.CardStatus {
    color: rgb(51, 67, 51) !important;
}

.PostWrapper {
    margin-right: 5%;
    margin-left: 5%;
}

.PostTitle {
    font-size: 2rem;
    font-weight: bold;
    color: whitesmoke !important;
    margin-left: 5%;
    margin-right: 5%;
}

.PostText {
    font-size: 1rem;
    color: whitesmoke;
    margin-left: 5%;
    margin-right: 5%;
}