.CardWrapper {
    width: 90%;
    margin: 5%;
    margin-top: 0.2rem !important;
    margin-bottom: 0.2rem !important;
    border-radius: 0.5rem !important;
    border-color: rgba(68, 94, 72, 0.34) !important;
    border-width: 0.2rem !important;
    background-color: rgba(255, 255, 255, 0.813)!important;
}

.CardName {
    text-decoration: none !important;
    color: black;
}

.CardStatus {
    color: rgb(51, 67, 51) !important;
}

.like-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 8px;
    background-color: rgb(68, 94, 72);
    color: whitesmoke;
}

.like-button:hover {
    background-color: rgb(51, 67, 51);
}

.reply-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 8px;
    background-color: rgb(117, 160, 124);
    color: whitesmoke;
    margin-left: 8px;
}

.reply-button:hover {
    background-color: rgb(51, 67, 51);
}