.HomeTitle {
    font-size: 2rem;
    font-weight: bold;
    color: whitesmoke !important;
    padding-bottom: 1rem;
    margin-left: 5%;
    margin-right: 5%;
}

.HomeContainer {
    background-color: rgb(51, 67, 51);
    padding: 0.5rem;
    border-radius: 2rem !important;
    color: whitesmoke !important;
    margin-bottom: 5%;
    background-image: linear-gradient(to bottom, transparent 0%, transparent 40%, rgb(49, 57, 49));
}

.HomeBodyDiv {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
    background-color: rgba(0, 0, 0, 0);
}
